<div class="big-block">
    <h2 id="item-name">Warehouse ID: {{warehouse.id}}</h2>
    <p>Name: {{warehouse.name}}</p>
    <p>Location: {{warehouse.location}}</p>
    <img class="item-img" src="{{warehouse.image}}" />
    <h3 id="capacity">Capacity: {{warehouse.capacity}}</h3>
    <button id="delete">Delete</button>
</div>
<script src="../src/warehouse.js"></script>