<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <style>
      .row { justify-content: center !important; }
    </style>
  </head>
  <body>

    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-1">
          <div class="col">
            <div class="card shadow-lg">
              <h2 id="item-name" class="text-center">Warehouse ID:
                {{warehouse.id}}</h2>
              <p><strong>Name:</strong> {{warehouse.name}}</p>
              <p><strong>Location:</strong> {{warehouse.location}}</p>
              <img class="item-img" src="{{warehouse.image}}" />
              <br />
              <h3 id="capacity">Capacity: {{warehouse.capacity}}</h3>
              <br />
              <button
                class="btn btn-sm btn-outline-secondary"
                id="deleteWarehouse"
              >Delete</button>
              <br />
              <p class="text-muted">{{warehouse.createdAt}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../src/warehouse.js"></script>
  </body>
</html>